*{
	padding:0;
	margin:0;
	box-sizing:border-box;
}
.head1{
	padding-top:10rem;
	font-size:3.3rem;
	color:#ef9273;
	margin-left:3rem;
}
.page1{
	background-color:black;
}
.page2{
	background-color:black;
}
.para1{
	font-size:1.5rem;
	color:white;
	margin-left:3rem;
}
.img1{
	padding-top:5rem;
	padding-bottom:5rem;	
}
.icn{
	color:#ef9273;
	justify-content:space-between;
	text-align:center;
	margin-left:2.6rem;
}
.page1{
	padding-bottom:2rem;
}
.btn{
	background-color:#F3823A;
}

.head2{
	padding-top:5rem;
}
.para2{
	color:#797D7F ;
}
.icon1{
	font-size:3rem;
	color:#F89050;
}
.subhead1{
	font-size:1.3rem;
}
.img2{
	padding-top:1rem;
	padding-bottom:2rem;
	margin-left:4rem;
	margin-top:1rem;
}
.per1{
	color:#ef9273;	
	font-size:1.1rem;
}
span{
	color:#797D7F;
}
.per2{
	color:#D98880;
	padding:0.5rem;
}
.personalinfo{
	text-align:center;
	align-items:center;
}
.bor{
	border:1rem solid #BDA787;
	width:18rem;
	height:22rem;
	margin-left:3rem;
	margin-top:7rem;
	position:relative;
}
.skil h1{
	color:#D98880;
	margin-top:2.5rem;
}
.page3{
	padding-top:3.5rem;
	padding-bottom:3.5rem;
	text-align:center;
}
.icon{
	font-size:2rem;
}
.res iconify-icon{
	font-size:4rem;
	color:#ef9273;
	margin-top:3.5rem;
}
.pro progress{
	border-radius:2%;
}
.pro p{
	font-size:1.5rem;
	padding-top:1rem;
}
.prog{
	margin-top:5rem;
}
.res h2{
	color: white;
}
.resume h1{
	text-align:center;
	text-shadow:0px 0px 3px black;
}
.resume h2{
	color:#2b7a78; ;
}
.progress-bar{
	background-color:#ef9273!important;
}

.port img{
	border-radius:20px;
	border:1px solid black;
	margin-top:2.5rem;
}
.port a{
	padding:1rem;
	color:white;
}
.but{
	text-decoration:none;
	font-size:1rem;
	color:white;
	margin:auto;
}
.port button{
	margin-top:2rem;
	padding:0.3rem;
	border-radius:15px;
	background-color:#ef9273;
	border:none;
}
.portfolio{
	text-align:center;
	gap:1.7rem;
}
.port p{
	margin-top:1.5rem;
}
.port h4{
	color:#ef9273;
}
.pro{
	width:70%;
}
.icn1{
	color:#0d0d0d;
	font-size:5rem;
	margin:auto;
}
.email iconify-icon{
	font-size:2rem;
	height:5rem;
	width:5rem;
	display:flex;
	justify-content:center;
	align-items:center;
	border:2px solid #ccc;
	border-radius:50%;
	text-align:center;
	margin:auto;
	color:#ef9273;
}
.email iconify-icon:hover{
	background-color:#ef9273;
	color:white;
}
.email h1{
	color:#ef9273!important;
	font-size:1.5rem;
	padding:1rem;
}
.email p{
	font-size:1.3rem;
	color:#0d0d0d;
}
placeholder{
	font-size:1.8rem;
}
@media (min-width:768px){
	.address{
		display:flex;
		justify-content:space-between;
		padding-top:2rem;
	}
	.email{
		width:32%;
	}
}
.page3{
	background-color:black;
}
.page5{
	padding-top:2rem;
	padding-bottom:2rem;
	background-color:black;
}
.resum h1{
	font-size:1.3rem;
}
.container1{
	width:60%;
	margin:auto;
}
.cont{
	width:30%;
	height:40%;
	border:1px solid black;
	text-align:center;
}
.cont iconify-icon{
	font-size:2rem;
	border:5px solid black;
	border-radius:50%;
	height:5rem;
	width:5rem;
	margin:auto;
	justify-content:center;
	align-items:center;
	display:flex;
}
.contact{
	padding-top:2rem;
	padding-bottom:4rem;
	background-color:black;
}
.email {
	text-align:center;
	padding-top:1.5rem;
	box-shadow:0px 5px 10px 0px rgb(110 123 131/10%);
	padding-bottom:1.5rem;
}
.email a{
	text-decoration:none;
	color:white;
	font-size:1rem;
}
.foot p{
	text-align:center;
	align-items:center;
	margin-top:1rem;
	color:black;
}
.footer{
	background-color:#ef9273;
}