*{
	padding:0;
	margin:0;
	box-sizing:border-box;
}
.head1{
	padding-top:10rem;
	font-size:3.3rem;
	color:#D98880;
	margin-left:3rem;
}
.para1{
	font-size:1.5rem;
	color:#797D7F;
	margin-left:3rem;
}
.img1{
	padding-top:5rem;
	padding-bottom:5rem;	
}
.icn{
	color:#D98880;
	justify-content:space-between;
	text-align:center;
	margin-left:2.6rem;
}
.page1{
	padding-bottom:2rem;
	background-color:#F9EBEA;
}
.btn{
	background-color:#F3823A;
}
.head2{
	padding-top:5rem;
}
.para2{
	color#797D7F ;
}
.icon1{
	font-size:3rem;
	color:#F89050;
}
.subhead1{
	font-size:1.3rem;
}
.img2{
	padding-top:1rem;
	padding-bottom:2rem;
	margin-left:4rem;
	margin-top:1rem;
}
.per1{
	color:#D98880;	
}
.per2{
	color:#D98880;
	padding:0.5rem;
}
.personalinfo{
	text-align:center;
	align-items:center;
}
/* .page3{
	background-color:#F9EBEA;
	padding-bottom:6rem;
	text-align:center;
}
.lorem{
	padding:2rem;
}
.education{
	padding-top:2rem;
}
.personalinfo h1{
	margin-top:2rem;
	padding:1rem;
}
.personalinfo{
	border-left:1px solid  #797D7F;
	height:60vh;
}
.personalinfo p{
	font-size:1.3rem;
} */
.bor{
	border:1rem solid #BDA787;
	width:18rem;
	height:22rem;
	margin-left:3rem;
	margin-top:7rem;
	position:relative;
}
.skil h1{
	color:#D98880;
	margin-top:2.5rem;
}
.skil{
	position:relative;
}
.skil h1::after{
	position:absolute;
	content:"";
	height:3px;
	width:5%;
	margin:auto;
	line-height:1;
	margin-left:-5rem;
	margin-top:2.9rem;
	background-color:#ccc;
}
.port img{
	border-radius:20px;
	border:1px solid black;
	margin-top:2.5rem;
}
.port a{
	padding:1rem;
	color:white;
}
.but{
	text-decoration:none;
	font-size:1rem;
	color:white;
	margin:auto;
}
.port button{
	margin-top:2rem;
	padding:0.3rem;
	border-radius:15px;
	background-color:#D98880;
	border:none;
}
.portfolio{
	text-align:center;
}
.pro{
	width:70%;
}
