body{
    font-family: "Open Sans", sans-serif;
}
*{
	margin:0;
	padding:0;
	left:0;
	right:0;
	box-sizing:border-box;
}
/* top bar */
@media (min-width:360px){
	.container{
		width:95%;
		margin:auto;
	}
    .topbar{
        background: #fff;
        border-bottom: 1px solid #eee;
        font-size: 15px;
        height: 40px;
        padding:0.6rem 0;
    }
    .top-head{
        display: flex;
        justify-content: center;
    }
    .top-icon1{
        display: flex;
    }
    .top-icon1 i{
        font-size: 0.9rem;
        color: #428bca;
        padding: 5px;
    }
    .top-icon1 p{
        font-size:1rem;
        color:black ;
    }
    .top-icon2{
       display: none;
    }
    }
@media (min-width:560px){
	.container{
		width:90%;
		margin:auto;
	}
    .topbar{
        background: #fff;
        border-bottom: 1px solid #eee;
        font-size: 15px;
        height: 40px;
        padding:0.6rem 0;
    }
    .top-head{
        display: flex;
        justify-content: center;
        justify-content: space-between;
    }
    .top-icon1{
		text-align:center;
		margin-left:0.6rem;
    }
    .top-icon1 i{
        font-size: 1rem;
        color: #428bca;
        padding: 5px;
    }
    .top-icon1 p{
        font-size:1rem;
        color:black ;
		margin-left:1rem;
    }
    .top-icon2{
        display:block;
		
        font-size: 1rem;
        color: black;
    }
	.top-icon2 i{
		padding:3px;
	}
    .top-icon2 i:hover{
        color:  #428bca;
    }
    }
@media (min-width:992px){
.container{
    width:85%;
    margin:auto;
}
.topbar{
    background: #fff;
    border-bottom: 1px solid #eee;
    font-size: 15px;
    height: 40px;
    padding:0.6rem 0;
}
.top-head{
    display: flex;
    justify-content: center;
    justify-content: space-between;
}
.top-icon1{
    display: flex;
}
.top-icon1 i{
    font-size: 1rem;
    color: #428bca;
    padding: 5px;
}
.top-icon1 p{
    font-size:1.1rem;
    color:black ;
}
.top-icon2{
    letter-spacing: 1rem;
    font-size: 1rem;
    color: #5c768d;
}
.top-icon2 i:hover{
    color:  #428bca;
}
}
/* header section */
@media(min-width:360px){
	.container{
		width:95%;
		margin:auto;
	}
    .header{
        background-color: #fff;
        padding: 1rem 0;
    }
    .head-content{
        display: flex;
        justify-content: center;
        justify-content: space-between;
        align-items: center;
    }
	.head-nav{
		display:none;
	}
    .head-nav a{
        text-decoration: none;
        padding-right: 2.5rem;
    }
    .head-mobileview i{
		color:black;
		font-size:2rem;
	}
    .hed-title h1{
        font-size: 2rem;
        font-weight: 500;
        color: #5c768d;
    }
    .head-nav a{
        font-size: 1.1rem;
        color: #5c768d;
    }
    }
@media(min-width:560px){
	.container{
		width:90%;
		margin:auto;
	}
    .header{
        background-color: #fff;
        padding: 1.5rem 0;
    }
    .head-content{
        display: flex;
        justify-content: center;
        justify-content: space-between;
        align-items: center;
    }
    .head-nav a{
        text-decoration: none;
        padding-right: 2.5rem;
    }
    
    .hed-title h1{
        font-size: 2rem;
        font-weight: 500;
        color: #5c768d;
    }
    .head-nav a{
        font-size: 1.1rem;
        color: #5c768d;
    }
    }
@media(min-width:992px){
.container{
    width:85%;
    margin:auto;
}
.header{
    background-color: #fff;
    padding: 1.5rem 0;
}
.head-content{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
}
.head-mobileview{
	display:none;
}
.head-nav{
	display:block;
	}
.head-nav a{
    text-decoration: none;
    padding-right: 2.5rem;
}

.hed-title h1{
    font-size: 2rem;
    font-weight: 500;
    color: #5c768d;
}
.head-nav a{
    font-size: 1.1rem;
    color: #5c768d;
}
}
/* banner section */
@media(min-width:360px){
.container{
	width:95%;
	margin:auto;
}
.banner{
	background-image:url("img/slide1.jpg");
	background-size:cover;
	background-position:top;
	position:relative;
}
.banner::after{
	content:"";
	background-color:rgba(13,30,45,0.6);
	opacity:0.8;
	position:absolute;
	top:0;
	right:0;
	left:0;
	bottom:0;
}
.banner-button{
	padding-bottom:1.3rem;
}
.banner-title{
	z-index:997;
	position:relative;
	padding:10rem 0 0 2rem;
}
.banner-title h2{
  color: #fff;
  margin-bottom:1.5rem;
  font-size: 1.7rem;
  font-weight: 900;
}
.banner-title p {
  font-size:1rem;
  color: #fff;
  width:80%;
  margin-bottom:3rem;
  line-height:1.5rem;
  text-align:;
}
.banner-button a{
	text-decoration:none;
	font-weight: 500;
    font-size: 0.9rem;
    letter-spacing:1px;
    padding: 7px 30px;
    border-radius: 5px;
    margin: 10px;
    color: #fff;
    border:2px solid #428bca;
	background-color:#428bca;
}
.banner-button a:hover {
	background-color:#1c5c93;
	border:2px solid #1c5c93;
}
.about-row1{
	position:relative;
}
.vdo{
	position:absolute;
	top:47%;
	left:45%;
	color:white;
	border:1px solid #418AC9;
	background-color:#418AC9;
	height:40px;
	width:40px;
	border-radius:50%;
}
.vdo iconify-icon{
	margin-left:.7rem;
	margin-top:.7rem;
}
}
@media(min-width:560px){
.container{
    width:90%;
    margin:auto;
}
.banner{
	background-image:url("img/slide1.jpg");
	background-size:cover;
	
	background-position:top;
	position:relative;
}
.banner::after{
	content:"";
	background-color:rgba(13,30,45,0.6);
	opacity:1;
	position:absolute;
	top:0;
	right:0;
	left:0;
	bottom:0;
}
.banner-title{
	z-index:997;
	position:relative;
	padding:20rem 0;
}
.banner-title h2{
  color: #fff;
  margin-bottom:2rem;
  font-size: 2.3rem;
  font-weight: 900;
}
.banner-title p {
  font-size:0.9rem;
  color: #fff;
  width:90%;
  margin-bottom:3rem;
  line-height:1.5rem;
  text-align:;
}
.banner-button a{
	text-decoration:none;
	font-weight: 500;
    font-size: 1rem;
    letter-spacing:1px;
    padding: 7px 28px;
    border-radius: 5px;
    margin: 10px;
    color: #fff;
    border:2px solid #428bca;
	background-color:#428bca;
}
.banner-button a:hover {
	background-color:#1c5c93;
	border:2px solid #1c5c93;
}
}
@media(min-width:992px){
.container{
    width:85%;
    margin:auto;
}
.banner{
	background-image:url("img/slide1.jpg");
	background-size:cover;
	
	background-size:cover;
	position:relative;
}
.banner::after{
	content:"";
	background-color:rgba(13,30,45,0.6);
	opacity:1;
	position:absolute;
	top:0;
	right:0;
	left:0;
	bottom:0;
}
.banner-title{
	z-index:997;
	position:relative;
	padding:10rem 0;
}
.banner-title h2{
  color: #fff;
  margin-bottom:2rem;
  font-size: 3rem;
  font-weight: 900;
}
.banner-title p {
  font-size:1.2rem;
  color: #fff;
  width:70%;
  margin-bottom:3rem;
  line-height:1.5rem;
  text-align:justify;
}
.banner-button a{
	text-decoration:none;
	font-weight: 500;
    font-size: 1.1rem;
    letter-spacing:1px;
    padding: 12px 32px;
    border-radius: 5px;
    margin: 10px;
    color: #fff;
    border:2px solid #428bca;
	background-color:#428bca;
}
.banner-button a:hover {
	background-color:#1c5c93;
	border:2px solid #1c5c93;
}
}
/* about section */
@media(min-width:360px){
    .container{
		width:95%;
		margin:auto;
	}
    .about-coloumn{
        margin: 5rem 0;
    }
    .about-row1{
        padding: 0.5rem;
    }
    .about-row1 img{
        width: 100%;
    }
    .about-head{
        margin-bottom: 3rem;
    }
    .about-row2{
        line-height: 1.2rem;
        padding:5rem 0 5rem 0;
    }
    .about-row2 h1{
        text-align: center;
        font-size: 2rem;
        font-weight: 600;
        margin-bottom: 2rem;
        color: #5c768d;
    }
    .about-head p{
        margin-left: 3rem;
        text-align: left;
        width: 80%;
        word-spacing: 0.5rem;
        font-size: 1rem;
        font-style: italic;
        color: #666;
    }
    .about-content1{
        margin-left: 3rem;
        display: flex;
        margin:0 0 2rem 3rem;
    }
    .about-content2{
        margin-left: 3rem;
        display: flex;
		margin-left:3rem;
    }
	.shadow{
		box-shadow: 0 5px 25px 0 rgb(214 215 216 / 60%);
	}
	.about-icon:hover{
		background-color:#428bca;
		color:white;
	}
    .about-icon{
		 color: #428bca;
        font-size: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 16rem;
        height: 4.5rem;
        background: #f1f7fb;
        border-radius: 6px;
    }
    .icon-content{
        padding-left:1.5rem;
    }
    .icon-content h2{
        font-size: 1.3rem;
        font-weight: 600;
        margin-bottom: 1rem;
        color: #343a40;
    }
    .icon-content p{
        text-decoration: none;
        font-size: 0.9rem;
        color: #666;
		width:80%;
    }
    }
@media(min-width:560px){
	.container{
		width:90%;
		margin:auto;
	}
    .about-coloumn{
        margin: 5rem 0;
    }
    .shadow{
		box-shadow:none;
	}
    .about-row1{
        padding: 0.5rem;
    }
    .about-row1 img{
		 width: 100%;
    }
    .about-head{
        margin-bottom: 3rem;
    }
    .about-row2{
        line-height: 1.2rem;
        padding:5rem 3rem 5rem 0;
    }
    .about-row2 h1{
        text-align: center;
        font-size: 2rem;
        font-weight: 600;
        margin-bottom: 2rem;
        color: #5c768d;
    }
    .about-head p{
        width: 100%;
		margin:0;
        word-spacing: 0.5rem;
        font-size: 1rem;
        font-style: italic;
        color: #666;
    }
    .about-content1{
        display: flex;
        margin:0 0 2rem 0;
    }
    .about-content2{
        display: flex;
		margin:0;
    }
   
	.about-icon:hover{
		background-color:#428bca;
		color:white;
	}
    .about-icon{
		color: #428bca;
        font-size: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 16rem;
        height: 4.5rem;
        background: #f1f7fb;
        border-radius: 6px;
    }
    .icon-content{
        padding-left:1.5rem;
    }
    .icon-content h2{
        font-size: 1.3rem;
        font-weight: 600;
        margin-bottom: 1rem;
        color: #343a40;
    }
    .icon-content p{
        text-decoration: none;
        font-size: 1rem;
        color: #666;
		width:100%;
    }
    }
@media(min-width:992px){
.container{
    width:85%;
    margin:auto;
}
.about-coloumn{
    display: flex;
    gap: 3rem;
    margin: 5rem 0;
}
.shadow{
    box-shadow: 0 5px 25px 0 rgb(214 215 216 / 60%);
}
.about-row1{
    width: 50%;
    padding: 0.5rem;
}
.about-row1 img{
    width: 100%;
}
.about-head{
    margin-bottom: 3rem;
}
.about-row1{
	position:relative;
}
.vid iconify-icon{
	font-size:1.3rem;
	color:white;
	margin-top:5px;
}
.vid{
	position:absolute;
	border:1px solid #428BCA;
	padding:15px;
	border-radius:50%;
	background-color:#428BCA;
	border:13px solid #94B4CD;
	top:0;
	height:70px;
	/* display:flex;
	justify-content:center;
	text-align:center; */
	width:70px;
	font-size:2rem;
	margin-top:11rem;
	margin-left:11rem;

}
.vd{
	margin-left:-0.6rem;
	margin-top:-5rem;
	float:right;
	font-size:1rem;
}
.about-row2{
    line-height: 1.2rem;
    width: 50%;
    padding:5rem 3rem 5rem 0;
}
.about-row2 h1{
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 2rem;
    color: #5c768d;
}
.about-head p{
    width: 95%;
    word-spacing: 0.5rem;
    font-size: 1rem;
    font-style: italic;
    color: #666;
}
.about-content1{
    display: flex;
    margin:0 0 2rem 0;
}
.about-content2{
    display: flex;
	margin:0;
}
.about-icon:hover{
	background-color:#428bca;
	color:white;
}
.about-icon{
	color: #428bca;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 9rem;
    height: 4.5rem;
    background: #f1f7fb;
    border-radius: 6px;
}
.icon-content{
    padding-left:1.5rem;
}
.icon-content h2{
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 1rem;
    color: #343a40;
}
.icon-content p{
    text-decoration: none;
    font-size: 1rem;
    color: #666;
}
}
/* ----list section---- */
@media(min-width:360px){
.list-row{
	margin:5rem 0;
}
.list-content{
	padding:3rem;
}
.list-content span{
	font-size: 2rem;
    font-weight: 400;
    color: #9eccf4;
}
.list-content h4{
	font-size: 1.8rem;
	color:#444;
    font-weight: 400;
    margin: 2rem 0;
}
.list-content p{
	color: #aaaaaa;
    font-size: 1rem;
	width:90%;
	line-height:1.3rem;
}
.bo-1,.bo-2,.bo-3,.bo-4,.bo-5{
	border-bottom:1px solid #d9e8f4;
}
}
@media(min-width:560px){
.list-row{
	display:flex;
	flex-wrap:wrap;
	margin:5rem 0;
}
.list-content{
	width:50%;
	padding:3rem 0;
	
}
.list-content span{
	font-size: 2rem;
    font-weight: 400;
    color: #9eccf4;
}
.list-content h4{
	font-size: 1.8rem;
	color:#444;
    font-weight: 400;
    margin: 2rem 0;
}
.list-content p{
	color: #aaaaaa;
    font-size: 1rem;
	width:100%;
	line-height:1.3rem;
}
.bo-1,.bo-3{
	border-bottom:1px solid #d9e8f4;
	border-right:1px solid #d9e8f4;
}
.bo-2,.bo-4{
	border-bottom:1px solid #d9e8f4;
}
.bo-5{
	border-right:1px solid #d9e8fa;
	border-bottom:none;
}
}
@media(min-width:992px){
.list-row{
	display:flex;
	flex-wrap:wrap;
	margin:5rem 0;
}
.list-content{
	width:33.3%;
	padding:3rem;
	
}
.list-content span{
	font-size: 2rem;
    font-weight: 400;
    color: #9eccf4;
}
.list-content h4{
	font-size: 1.8rem;
	color:#444;
    font-weight: 400;
    margin: 2rem 0;
}
.list-content p{
	color: #aaaaaa;
    font-size: 1rem;
	width:90%;
	line-height:1.3rem;
}
.bo-1,.bo-2{
	border-bottom:1px solid #d9e8f4;
	border-right:1px solid #d9e8f4;
}
.bo-3{
	border-bottom:1px solid #d9e8f4;
	border-right:none;
}
.bo-4,.bo-5{
	border-right:1px solid #d9e8f4;
}
.bo-4{
	border-bottom:none;
}
}
/* count section */
@media(min-width:360px){
    .count{
        background-color: #f5f9fc;
        padding:0 0 5rem 0;
    }
    .count-row{
        gap: 2rem;
    }
    .count-content{
        width: 100%;
        background-color: #fff;
        box-shadow: 0px 0 16px rgb(0 0 0 / 10%);
        padding:2.7rem 0;
        margin-bottom: 30px;
        text-align: center;
    }
    .count-content span{
        font-size: 2.5rem;
        display: block;
        font-weight: 700;
        color: #1c5c93;
        margin-bottom: 1rem;
    }
    .count-content p{
        font-size: 1rem;
		color:black;
    }
    }
@media(min-width:560px){
    .count{
        background-color: #f5f9fc;
        padding: 5rem 0;
    }
    .count-row{
        display: flex;
        flex-wrap: wrap;
        gap: inherit;
    }
    .count-content{
        width: 46%;
        background-color: #fff;
        box-shadow: 0px 0 16px rgb(0 0 0 / 10%);
        padding:2.7rem 0;
        margin:0 0 30px 20px;
        text-align: center;
    }
    .count-content span{
        font-size: 2.5rem;
        display: block;
        font-weight: 700;
        color: #1c5c93;
        margin-bottom: 1rem;
    }
    .count-content p{
        font-size: 1rem;
		color:black;
    }
    }
@media(min-width:992px){
.count{
    background-color: #f5f9fc;
    padding: 5rem 0;
}
.count-row{
    display: flex;
    gap: 2rem;
    flex-wrap: nowrap;
}
.count-content{
    width: 25%;
    background-color: #fff;
    box-shadow: 0px 0 16px rgb(0 0 0 / 10%);
    padding:2.7rem 0;
    margin-bottom: 30px;
    text-align: center;
}
.count-content span{
    font-size: 2.5rem;
    display: block;
    font-weight: 700;
    color: #1c5c93;
    margin-bottom: 1rem;
}
.count-content p{
    font-size: 1rem;
	color:black;
}
}
/* service section */
@media(min-width:360px){
.service{
    padding: 5rem 0;
}
.service-title{
    text-align: center;
    margin-bottom: 3rem;
}
.service-title h1{
    font-size: 2.5rem;
    font-weight: 600;
    color: #5c768d;
}
.service-row{
    justify-content: space-between;
}
.service-content{
    text-align: center;
    padding: 1rem;
}
.ser-icon{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    margin-bottom: 20px;
    background: #fff;
    border-radius: 50%;
    color: #428bca;
    box-shadow: 0px 0 25px rgb(0 0 0 / 15%);
}
.ser-icon i{
    font-size: 2rem;
}
.service-content:hover .ser-icon{
    box-shadow:0px 0 25px blue;
    transition: 2s;
}
.service-content h3{
    color: #444;
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 2rem;
    position: relative;
}
.service-content h3::after{
    content: "";
    position: absolute;
    display: block;
    width: 50px;
    height: 2px;
    background: #428bca;
    margin: 0.7rem 0;
    left: calc(50% - 25px);
}
.service-content p{
    line-height: 1.5rem;
    font-size: 0.9rem;
    color: #aaaaaa;
}
}
@media(min-width:560px){
.service{
    padding: 5rem 0;
}
.service-title{
    text-align: center;
    margin-bottom: 3rem;
}
.service-title h1{
    font-size: 2.5rem;
    font-weight: 600;
    color: #5c768d;
}
.service-row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.service-content{
    width: 50%;
    text-align: center;
    padding: 1rem;
}
.ser-icon{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    margin-bottom: 20px;
    background: #fff;
    border-radius: 50%;
    color: #428bca;
    box-shadow: 0px 0 25px rgb(0 0 0 / 15%);
}
.ser-icon i{
    font-size: 2rem;
}
.service-content:hover .ser-icon{
    box-shadow:0px 0 25px blue;
    transition: 2s;
}
.service-content h3{
    color: #444;
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 2rem;
    position: relative;
}
.service-content h3::after{
    content: "";
    position: absolute;
    display: block;
    width: 50px;
    height: 2px;
    background: #428bca;
    margin: 0.7rem 0;
    left: calc(50% - 25px);
}
.service-content p{
    line-height: 1.5rem;
    font-size: 0.9rem;
    color: #aaaaaa;
}
}
@media(min-width:992px){
.service{
    padding: 5rem 0;
}
.service-title{
    text-align: center;
    margin-bottom: 3rem;
}
.service-title h1{
    font-size: 2.5rem;
    font-weight: 600;
    color: #5c768d;
}
.service-row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.service-content{
    width: 33.33%;
    text-align: center;
    padding: 1rem;
}
.ser-icon{
    margin:auto;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
	margin-bottom: 20px;
    background: #fff;
    border-radius: 50%;
    color: #428bca;
    box-shadow: 0px 0 25px rgb(0 0 0 / 15%);
}
.ser-icon i{
    font-size: 2rem;
}
.service-content:hover .ser-icon{
    box-shadow:0px 0 25px blue;
    transition: 2s;
}
.service-content h3{
    color: #444;
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 2rem;
    position: relative;
}
.service-content h3::after{
    content: "";
    position: absolute;
    display: block;
    width: 50px;
    height: 2px;
    background: #428bca;
    margin: 0.7rem 0;
    left: calc(50% - 25px);
}
.service-content p{
    line-height: 1.5rem;
    font-size: 0.9rem;
    color: #aaaaaa;
}
}
/* portfolio section */
@media(min-width:360px){
.portfolio{
    background-color:#f5f9fc;
    padding-bottom:5rem;
}
.port-title{
    padding-top: 5rem;
}
.port-title h2{
    text-align: center;
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 2rem;
    color: #5c768d;
}
.port-title p{
    text-align: center;
    font-size: 1.1rem;
    margin-bottom: 3rem;
    line-height: 1.4rem;
    color: #444;
}
.port-button{
    text-align: center;
    margin-bottom: 4rem;
}
.port-button a:hover{
    background-color: #1c5c93;
    color: #eee;
}
.port-button a{
    text-decoration: none;
    color: #000;
    font-size: 0.8rem;
    padding: 0.9rem;
    border:1px solid #fff;
    background-color: #fff;
    margin: 0.5rem;
    border-radius: 0.5rem;
    transition: all 0.3s ease-in-out;
}
.port-row{
    flex-wrap: wrap;
    gap: 1.5rem;
}
.port-pic img{
    width: 100%;
}
.port-pic{
    width: 100%;
    position: relative;
}
.pic-content{
    text-align: center;
    opacity: 1;
    padding: 5rem 0;
    align-items: center;
}
.pic-content h2{
    color: #eee;
    font-size: 1.3rem;
    font-weight: 500;
    margin-bottom: 0.6rem;
}
.pic-content p{
    color: #eee;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 1rem;
}
.port-icon{
    text-align: center;
    display: flex;
    margin-left:8rem ;
}
.port-icon i{
    font-size: 1.3rem;
    border: 1px solid #DFF7F8;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    line-height: 40px;
    margin-right: 20px;
    background-color: #fff;
    color: #428bca;
    display: flow-root;
    text-align: center;
}
.pic-content{
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: 0.3s;
    text-align: center;
    background: rgba(31, 53, 72, 0.6);
    padding-bottom: 30px;
}
.port-pic:hover .pic-content{
   opacity: 1;
}
.port-button .solo{
	background-color:#1c5c93;
	color:white;
}
}
@media(min-width:560px){
.portfolio{
    background-color:#f5f9fc;
    padding-bottom: 5rem;
}
.port-title{
    padding-top: 5rem;
}
.port-title h2{
    text-align: center;
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 2rem;
    color: #5c768d;
}
.port-title p{
    text-align: center;
    font-size: 1.1rem;
    margin-bottom: 3rem;
    line-height: 1.4rem;
    color: #444;
}
.port-button{
    text-align: center;
    margin-bottom: 4rem;
}
.port-button a:hover{
    background-color: #1c5c93;
    color: #eee;
}
.port-button a{
    text-decoration: none;
    color: #000;
    font-size: 0.8rem;
    padding: 0.9rem;
    border:1px solid #fff;
    background-color: #fff;
    margin: 0.5rem;
    border-radius: 0.5rem;
    transition: all 0.3s ease-in-out;
}
.port-row{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}
.port-pic img{
    width: 100%;
}
.port-pic{
    width: 48%;
    position: relative;
}
.pic-content{
    text-align: center;
    opacity: 1;
    padding: 5rem 0;
    align-items: center;
}
.pic-content h2{
    color: #eee;
    font-size: 1.3rem;
    font-weight: 500;
    margin-bottom: 0.6rem;
}
.pic-content p{
    color: #eee;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 1rem;
}
.port-icon{
    text-align: center;
    display: flex;
    margin-left:8rem ;
}
.port-icon i{
    font-size: 1.3rem;
    border: 1px solid #DFF7F8;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    line-height: 40px;
    margin-right: 20px;
    background-color: #fff;
    color: #428bca;
    display: flow-root;
    text-align: center;
}
.pic-content{
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: 0.3s;
    text-align: center;
    background: rgba(31, 53, 72, 0.6);
    padding-bottom: 30px;
}
.port-pic:hover .pic-content{
   opacity: 1;
}
.port-button .solo{
	background-color:#1c5c93;
	color:white;
}
}
@media(min-width:992px){
.portfolio{
    background-color:#f5f9fc;
    padding-bottom:5rem;
}
.port-title{
    padding-top: 5rem;
}
.port-title h2{
    text-align: center;
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 2rem;
    color: #5c768d;
}
.port-title p{
    text-align: center;
    font-size: 1.1rem;
    margin-bottom: 3rem;
    line-height: 1.4rem;
}
.port-button{
    text-align: center;
    margin-bottom: 4rem;
}
.port-button a:hover{
    background-color: #1c5c93;
    color: #eee;
}

.port-button a{
    text-decoration: none;
    color: #000;
    font-size: 0.8rem;
    padding: 0.9rem;
    border:1px solid #fff;
    background-color: #fff;
    margin: 0.5rem;
    border-radius: 0.5rem;
    transition: all 0.3s ease-in-out;
}
.port-row{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}
.port-pic img{
    width: 100%;
}
.port-pic{
    width: 31%;
    position: relative;
}
.pic-content{
    text-align: center;
    opacity: 1;
    padding: 5rem 0;
    align-items: center;
}
.pic-content h2{
    color: #eee;
    font-size: 1.3rem;
    font-weight: 500;
    margin-bottom: 0.6rem;
}
.pic-content p{
    color: #eee;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 1rem;
}
.port-icon{
    text-align: center;
    display: flex;
    margin-left:8rem ;
}
.port-icon i{
    font-size: 1.3rem;
    border: 1px solid #DFF7F8;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    line-height: 40px;
    margin-right: 20px;
    background-color: #fff;
    color: #428bca;
    display: flow-root;
    text-align: center;
}
.pic-content{
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: 0.3s;
    text-align: center;
    background: rgba(31, 53, 72, 0.6);
    padding-bottom: 30px;
}
.port-pic:hover .pic-content{
   opacity: 1;
}
.port-button .solo{
	background-color:#1c5c93;
	color:white;
}
}
/* team section */
@media(min-width:360px){
.team{
    padding:5rem 0 ;
}
.team-title h2{  
    text-align: center;
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 2rem;
    color: #5c768d;
}
.team-title p{
    text-align: center;
    font-size: 1.1rem;
    margin-bottom: 3rem;
    line-height: 1.4rem;
    color: #444;
}
.team-row{
    display: flex;
    flex-wrap: wrap;
    gap: 3.5rem;
}
.team-member1{
    width:100%; 
    position: relative;  	
}
.flow{
	overflow:hidden;
}
.team-member1 img{
    width:100%;
	transition:all 0.5s ease;
}
.team-member1 img:hover{
	transform:scale(1.1);
	
}
.member-content{
    position:absolute;
    background: linear-gradient(360deg, rgb(92, 118, 141) 0%, rgba(92, 118, 141, 0.9) 35%, rgba(140, 167, 191, 0.8) 100%);
    padding: 1rem 0;
    border-radius: 4px;
    text-align: center;
    bottom: -48px;
    right: 20px;
    left: 20px;
}
.member-content h4 {
    font-weight: 700;
    margin-bottom: 1rem;
    font-size: 1.1rem;
    color: #fff;
    position: relative;
    text-align: center;
}
.member-content h4::after{
    content: "";
    position: absolute;
    width: 50px;
    height: 1px;
    background: #fff;
    left: calc(50% - 25px);
    margin: 1.6rem 0;
}
.member-content span{
    font-style: italic;
    font-size: 0.9rem;
    color: #fff;
}
.team-icon{
    margin: 1rem 0;
}
.team-icon i{
    color: #eee;
}
}
@media(min-width:560px){
.team{
    padding:5rem 0 ;
}
.team-title h2{  
    text-align: center;
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 2rem;
    color: #5c768d;
}
.team-title p{
    text-align: center;
    font-size: 1.1rem;
    margin-bottom: 3rem;
    line-height: 1.4rem;
    color: #444;
}
.team-row{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}
.team-member1{
    width: 48%; 
    position: relative;
    margin: 2rem 0;   
}
.team-member1 img{
    width: 100%;
}
.member-content{
    position:absolute;
    background: linear-gradient(360deg, rgb(92, 118, 141) 0%, rgba(92, 118, 141, 0.9) 35%, rgba(140, 167, 191, 0.8) 100%);
    padding: 1rem 0;
    border-radius: 4px;
    text-align: center;
    bottom: -48px;
    right: 20px;
    left: 20px;
}
.member-content h4 {
    font-weight: 700;
    margin-bottom: 1rem;
    font-size: 1.1rem;
    color: #fff;
    position: relative;
    text-align: center;
}
.member-content h4::after{
    content: "";
    position: absolute;
    width: 50px;
    height: 1px;
    background: #fff;
    left: calc(50% - 25px);
    margin: 1.6rem 0;
}
.member-content span{
    font-style: italic;
    font-size: 0.9rem;
    color: #fff;
}
.team-icon{
    margin: 1rem 0;
}
.team-icon i{
    color: #eee;
}
}
@media(min-width:992px){
.team{
    padding:5rem 0 ;
}
.team-title h2{  
    text-align: center;
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 2rem;
    color: #5c768d;
}
.team-title p{
    text-align: center;
    font-size: 1.1rem;
    margin-bottom: 3rem;
    line-height: 1.4rem;
    color: #444;
}
.team-row{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}
.team-member1{
    width: 23%; 
    position: relative;   
}
.team-member1 img{
    width: 100%;
}
.member-content{
    position:absolute;
    background: linear-gradient(360deg, rgb(92, 118, 141) 0%, rgba(92, 118, 141, 0.9) 35%, rgba(140, 167, 191, 0.8) 100%);
    padding: 1rem 0;
    border-radius: 4px;
    text-align: center;
    bottom: -48px;
    right: 20px;
    left: 20px;
}
.member-content h4 {
    font-weight: 700;
    margin-bottom: 1rem;
    font-size: 1.1rem;
    color: #fff;
    position: relative;
    text-align: center;
}
.member-content h4::after{
    content: "";
    position: absolute;
    width: 50px;
    height: 1px;
    background: #fff;
    left: calc(50% - 25px);
    margin: 1.6rem 0;
}
.member-content span{
    font-style: italic;
    font-size: 0.9rem;
    color: #fff;
}
.team-icon{
    margin: 1rem 0;
}
.team-icon i{
    color: #eee;
}
}
/* question section */
@media(min-width:360px){
.question{
	background-color:#f5f9fc;
	padding:5rem 0;
}
.question-title h2{
	text-align: center;
    font-size: 2rem;
    font-weight:600;
    margin-bottom:4rem;
    color: #5c768d;
}
.question-row{
	display:flex;
	flex-wrap:wrap;
	gap:2rem;
}
.question-co1{
	width:100%;
}
.question-co1 h4{
	font-size: 1.4rem;
    line-height: 2rem;
    font-weight: 600;
    margin-bottom: 2rem;
    color: #1f3548;
}
.question-co1 p{
	color:#444;
	font-size:1.2rem;
	line-height:1.3rem;
	font-weight:500;
	margin-bottom:2rem;
}
}
@media(min-width:560px){
.question{
	background-color: #f5f9fc;
	padding:5rem 0;
}
.question-title h2{
	text-align: center;
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 4rem;
    color: #5c768d;
}
.question-row{
	display:flex;
	flex-wrap:wrap;
	gap:2rem;
}
.question-co1{
	width:100%;
}
.question-co1 h4{
	font-size: 1.4rem;
    line-height: 2rem;
    font-weight: 600;
    margin-bottom: 2rem;
    color: #1f3548;
}
.question-co1 p{
	color:#444;
	font-size:1.2rem;
	line-height:1.3rem;
	font-weight:500;
	margin-bottom:2rem;
}
}
@media(min-width:992px){
.question{
	background-color: #f5f9fc;
	padding:5rem 0;
}
.question-title h2{
	text-align: center;
    font-size: 2.1rem;
    font-weight: 600;
    margin-bottom: 4rem;
    color: #5c768d;
}
.question-row{
	display:flex;
	flex-wrap:wrap;
	gap:2rem;
}
.question-co1{
	width:48%;
}
.question-co1 h4{
	font-size: 1.4rem;
    line-height: 2rem;
    font-weight: 600;
    margin-bottom: 2rem;
    color: #1f3548;
}
.question-co1 p{
	color:#444;
	font-size:1.2rem;
	line-height:1.3rem;
	font-weight:500;
	margin-bottom:2rem;
}
}
/* contact section */
@media(min-width:360px){
.contact{
    padding: 4rem 0;
}
.contact-title h2{
    text-align: center;
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 2rem;
    color: #5c768d;
}
.contact-row{
    display:;
	text-align:-webkit-center;
	gap:1rem;
}
.contact-help{
    display:;
    width: 100%;
	gap:1rem;
}
.contact-address{
    width:100%;
	box-shadow: 0 0 15px rgb(0 0 0/ 10%);
	padding:1.5rem 0;
	margin-top:15px;
}
.contact-email{
    width: 100%;
	box-shadow: 0 0 15px rgb(0 0 0/ 10%);
	padding:1.5rem 0;
	margin-top:15px;
}
.contact-num{
    width: 100%;
	box-shadow: 0 0 15px rgb(0 0 0/ 10%);
	padding:1.5rem 0;
margin-top:15px;	
}
.contact-row i{
    font-size: 2rem;
    color: #428bca;
    display: flex;
    height: 4rem;
    align-items: center;
    width: 4rem;
    justify-content: center;
    border-radius: 50%;
    border: 2px dotted #9eccf4;
}
.contact-row h4{
	font-size:1.1rem;
    color: #666;
    font-weight: 700;
    margin:1rem 0;
}
.contact-row p{
    line-height: 24px;
    font-size: 1rem;
    margin-bottom:0.5rem;
	color:#aaaaaa;
}
.contact-form{
	padding:2rem;
	margin-top:2rem;
	box-shadow: 0 0 15px rgb(0 0 0/ 10%);
}
input:focus{
	outline:none;
}
textarea:focus{
	outline:none;
}
.form-content{
	width:100%;
}
.form-content input{
	width:98%;
	padding:0.8rem;
	margin:0.5rem;
	border:1px solid silver;
}
.form-subject input{
	width:98%;
	margin:0.5rem;
	padding:0.8rem;
	border:1px solid silver;
}
.form-message textarea{
	width:98%;
	margin:0.5rem;
	padding:0.8rem;
	border:1px solid silver;
}
.form-button{
	text-align:center;
}
.form-button button{
	background: #428bca;
	border:2px solid #428bca;
	font-size:1rem;
    padding: 10px 30px;
    color: #fff;
}
}
@media(min-width:560px){
.contact{
    padding: 4rem 0;
}
.contact-title h2{
    text-align: center;
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 2rem;
    color: #5c768d;
}
.contact-row{
    display:flex;
	flex-wrap:wrap;
	text-align:-webkit-center;
	gap:2rem;
}
.contact-help{
    display:flex;
	flex-wrap:wrap;
    width:100%;
	gap:2rem;
}
.contact-address{
    width: 100%;
	box-shadow: 0 0 30px rgb(214 215 216 / 60%);
	padding:1.5rem 0;
}
.contact-email{
    width: 100%;
	box-shadow: 0 0 30px rgb(214 215 216 / 60%);
	padding:1.5rem 0;
}
.contact-num{
    width: 100%;
	box-shadow: 0 0 30px rgb(214 215 216 / 60%);
	padding:1.5rem 0;	
}
.contact-row i{
    font-size: 2rem;
    color: #428bca;
    display: flex;
    height: 4rem;
    align-items: center;
    width: 4rem;
    justify-content: center;
    border-radius: 50%;
    border: 2px dotted #9eccf4;
}
.contact-row h4{
	font-size:1.1rem;
    color: #666;
    font-weight: 700;
    margin:1rem 0;
}
.contact-row p{
    line-height: 24px;
    font-size: 1rem;
    margin-bottom:0.5rem;
	color:#aaaaaa;
}
.contact-form{
	margin-top:2rem;
	padding:2rem;
	box-shadow: 0 0 30px rgb(214 215 216 / 60%);
}
.form-content{
	width:100%;
}
.form-content input{
	width:98%;
	padding:0.8rem;
	margin:0.5rem;
	border:1px solid silver;
}
.form-subject input{
	width:98%;
	margin:0.5rem;
	padding:0.8rem;
	border:1px solid silver;
}
.form-message textarea{
	width:98%;
	margin:0.5rem;
	font-size:1rem;
	padding:0.8rem;
}
.form-button{
	text-align:center;
}
.form-button button{
	background: #428bca;
	border:2px solid #428bca;
	font-size:1rem;
    padding: 10px 30px;
    color: #fff;
}
}
@media(min-width:992px){
.contact{
    padding: 4rem 0;
}
.contact-title h2{
    text-align: center;
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 2rem;
    color: #5c768d;
}
.contact-row{
    display: flex;
	text-align:-webkit-center;
	gap:1rem;
}
.contact-help{
    display: flex;
    width: 49%;
	gap:1rem;
}
.contact-address{
    width: 49%;
	box-shadow: 0 0 30px rgb(214 215 216 / 60%);
	padding:1.5rem 0;
}
.contact-email{
    width: 48%;
	box-shadow: 0 0 30px rgb(214 215 216 / 60%);
	padding:1.5rem 0;
}
.contact-num{
    width: 48%;
	box-shadow: 0 0 30px rgb(214 215 216 / 60%);
	padding:1.5rem 0;	
}
.contact-row i{
    font-size: 2rem;
    color: #428bca;
    display: flex;
    height: 4rem;
    align-items: center;
    width: 4rem;
    justify-content: center;
    border-radius: 50%;
    border: 2px dotted #9eccf4;
}
.contact-row h4{
	font-size:1.1rem;
    color: #666;
    font-weight: 700;
    margin:1rem 0;
}
.contact-row p{
    line-height: 24px;
    font-size: 1rem;
    margin-bottom:0.5rem;
	color:#aaaaaa;
}
.contact-form{
	margin-top:2rem;
	padding:2rem;
	box-shadow: 0 0 30px rgb(214 215 216 / 60%);
}
.form-content{
	width:100%;
}
.form-content input{
	width:47%;
	padding:0.8rem;
	margin:0.5rem;
	border:1px solid silver;
}
.form-subject input{
	width:96%;
	margin:0.5rem;
	padding:0.8rem;
	border:1px solid silver;
}
.form-message textarea{
	width:96%;
	margin:0.5rem;
	padding:0.8rem;
	border:1px solid silver;
}
.form-button{
	text-align:center;
}
.form-button button{
	background: #428bca;
	border:2px solid #428bca;
	font-size:1rem;
    padding: 10px 30px;
    color: #fff;
}
}
/* footer section */
@media(min-width:360px){
.footer{
	background: #5c768d;
	padding:5rem 0;
}
.footer-coloumn{
	display:;
	width:100%;
}
.footer-coloumn h1,p,h3{
	color:#eee;
}
.footer-row1{
	width:100%;
}
.footer-row2{
	width:100%;
}
.footer-row3{
	width:100%;
}
.footer-row4{
	width:100%;
}
.footer-row1 h1{
	font-size:1.5rem;
    margin-bottom:2rem;
    padding: 2px 0 2px 0;
    line-height: 1rem;
    font-weight: 700;
}
.footer-coloumn p{
	font-size:0.9rem;
	font-weight:500;
	margin-bottom:1.3rem;
}
.footer-coloumn h3{
	font-size:1.2rem;
	font-weight:700;
	margin-bottom:2rem;
}
.footer-icon{
	display:flex;
	gap:0.5rem;
	margin:3rem 0;
}
.footer-row1 i{
	color:#eee;
	font-size: 1rem;
    display:flex;
    height: 2rem;
    align-items: center;
    width: 2rem;
    justify-content: center;
    border-radius: 50%;
    border: 2px solid #768fa6;
	background-color: #768fa6;
}
.footer-row2 i{
	color:#9eccf4;
}
.footer-row3 i{
	color:#9eccf4;
}
 .vee{
	display:inline-block;
	margin-left:-2rem;
	padding:0.7rem;
	background-color:#428bca;
	border-color:#428bca;
	color:white;
}
.run{
	display:inline-block;
	padding:0.7rem;
	width:15rem;
	background-color:aliceblue;
}
}
@media(min-width:560px){
.footer{
	background: #5c768d;
	padding:5rem 0;
}
.footer-coloumn{
	display:flex;
	flex-wrap:wrap;
	width:100%;
}
.footer-coloumn h1,p,h3{
	color:#eee;
}
.footer-row1{
	width:50%;
}
.footer-row2{
	width:50%;
}
.footer-row3{
	width:50%;
}
.footer-row4{
	width:50%;
}
.footer-row1 h1{
	font-size:1.5rem;
    margin-bottom:2rem;
    padding: 2px 0 2px 0;
    line-height: 1rem;
    font-weight: 700;
}
.footer-coloumn p{
	font-size:0.9rem;
	font-weight:500;
	margin-bottom:1.3rem;
}
.footer-coloumn h3{
	font-size:1.2rem;
	font-weight:700;
	margin-bottom:2rem;
}
.footer-icon{
	display:flex;
	gap:0.5rem;
	margin:3rem 0;
}
.footer-row1 i{
	color:#eee;
	font-size: 1rem;
    display:flex;
    height: 2rem;
    align-items: center;
    width: 2rem;
    justify-content: center;
    border-radius: 50%;
    border: 2px solid #768fa6;
	background-color: #768fa6;
}
.footer-row2 i{
	color:#9eccf4;
}
.footer-row3 i{
	color:#9eccf4;
}
 .vee{
	display:inline-block;
	margin-left:-2rem;
	padding:0.8rem;
	background-color:#428bca;
	border-color:#428bca;
	color:white;
}
.run{
	display:inline-block;
	padding:0.8rem;
	width:17rem;
}
}
@media(min-width:992px){
.footer{
	background: #5c768d;
	padding:5rem 0;
}
.footer-coloumn{
	display:flex;
	width:100%;
}
.footer-coloumn h1,p,h3{
	color:#eee;
}
.footer-row1{
	width:25%;
}
.footer-row2{
	width:20%;
}
.footer-row3{
	width:20%;
}
.footer-row4{
	width:35%;
}
.footer-row1 h1{
	font-size:1.5rem;
    margin-bottom:2rem;
    padding: 2px 0 2px 0;
    line-height: 1rem;
    font-weight: 700;
}
.footer-coloumn p{
	font-size:0.9rem;
	font-weight:500;
	margin-bottom:1.3rem;
}
.footer-coloumn h3{
	font-size:1.2rem;
	font-weight:700;
	margin-bottom:2rem;
}
.footer-icon{
	display:flex;
	gap:0.5rem;
	margin:3rem 0;
}
.footer-row1 i{
	color:#eee;
	font-size: 1rem;
    display:flex;
    height: 2rem;
    align-items: center;
    width: 2rem;
    justify-content: center;
    border-radius: 50%;
    border: 2px solid #768fa6;
	background-color: #768fa6;
}
.footer-row2 i{
	color:#9eccf4;
}
.footer-row3 i{
	color:#9eccf4;
}
 .vee{
	display:inline-block;
	margin-left:-2rem;
	padding:1rem;
	background-color:#428bca;
	border-color:#428bca;
	color:white;
}
.run{
	display:inline-block;
	padding:1rem;
	width:20rem;
}
}
/* footer-second */
@media(min-width:360px){
.footer-second{
	background: #587187;
	border-top:1px solid #aaaaaa;
	padding:2rem 0;
}
.second-content{
	text-align:center;
	color:#eee;
}
.second-content span{
	font-weight:700;
}
.second-content a{
	color:blue;
}
.second-content p{
	margin-top:1rem;
}
}
@media(min-width:560px){
.footer-second{
	background: #587187;
	border-top:1px solid #aaaaaa;
	padding:2rem 0;
}
.second-content{
	text-align:center;
	color:#eee;
}
.second-content span{
	font-weight:700;
}
.second-content a{
	color:blue;
}
.second-content p{
	margin-top:1rem;
}
}
@media(min-width:992px){
.footer-second{
	background: #587187;
	border-top:1px solid #aaaaaa;
	padding:2rem 0;
}
.second-content{
	text-align:center;
	color:#eee;
}
.second-content span{
	font-weight:700;
}
.second-content a{
	color:blue;
}
.second-content p{
	margin-top:1rem;
}
}








